# ==========================================================================================
# ⚙️ Terraform Engine Infrastructure Files
# ==========================================================================================
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# ==========================================================================================
# 🔑 Security & Credentials (보안 민감 데이터 원천 차단)
# ==========================================================================================
# 프로젝트 내부에서 임시로 생성한 모든 형태의 SSH Private/Public Key 무시
*my-cluster-key*
*.pem
*.key
*.pub

# ==========================================================================================
# 💻 OS & IDE (개발 환경 임시 파일 무시)
# ==========================================================================================
.DS_Store
.idea/
.vscode/
*.swp
ansible/kafka_2.13-3.7.0.tgz
